<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.munozcristhian.pholapsc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PholapSC">
        <activity
            android:name=".SeleccionActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Main_Activity_Category"
            android:exported="true"
            android:label="@string/title_activity_main_category"
            android:theme="@style/Theme.PholapSC.NoActionBar" />
        <activity
            android:name=".Perfil_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"

            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingInActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ListSessionActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoImageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SessionActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>